<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Latest</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
    integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"
  integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
  </head>
  <style>
   
  </style>
  <link rel="stylesheet" href="style.css">
  <body class=""  style="background-color: rgba(0, 0, 0, 0.90);" >


    <div >
      <%- include ('headerwhite') %>
      </div>




    <div class="container d-flex justify-content-between  p-4 flex-wrap zoomIn  ">

        <!-- Players -->
<div class="max-w-sm bg-white  mb-5  border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="/players">
        <img class="rounded-t-lg h-50 " src="../images/main.JPG" alt="" />
    </a>
    <div class="p-5">
        <a href="/players">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Players in PSL</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> It features players from around the world and has gained popularity for its exciting matches and talented players all around the world.</p>
        <a href="/players" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Players
             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
  </div>
  
   <!-- Match Schedue -->
<div class="max-w-sm bg-white mb-5  border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="/matches">
        <img class="rounded-t-lg h-50 " src="../images/AdminMenu.JPG" alt="" />
    </a>
    <div class="p-5">
        <a href="/matches">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Matches Details in PSL</h5>
        </a>
        <p class="mb-4 font-normal text-gray-700 dark:text-gray-400">It features teams from different cities competing against each other. The matches are highly anticipated and draw large crowds.</p>
        <a href="/matches" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Matches
             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
  </div>
      <!-- Teams -->
    <div class="max-w-sm bg-white mb-5  border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="/teams">
          <img class="rounded-t-lg h-50 " src="../images/image1.JPG" alt="" />
      </a>
      <div class="p-5">
          <a href="/teams">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Teams of PSL</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">It features teams from different cities in Pakistan competing against each other. The league is known for its high-quality cricket and has gained popularity </p>
          <a href="/teams" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Teams
               <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
          </a>
      </div>
  </div>


  
 



<!-- Team Manager  -->
  <div class="max-w-sm bg-white mb-5 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="/teamsmanager">
        <img class="rounded-t-lg h-50 " src="../images/manager2.JPG" alt="" />
    </a>
    <div class="p-5">
        <a href="/teamsmanager">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Teams Managers of PSL</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">The PSL is a renowned cricket league in Pakistan, and teams managers play a crucial role in ensuring their team's success. </p>
        <a href="/teamsmanager" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800  focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Managers
             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>





  
<!-- Viewers Details -->
<div class="max-w-sm bg-white mb-5  border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="/viewers">
      <img class="rounded-t-lg h-50 " src="../images/viewersss.JPG" alt="" />
  </a>
  <div class="p-5">
      <a href="/viewers">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Viewers in PSL</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> It was founded in 2015 and consists of six teams representing different cities in Pakistan. The league gained popularity  and audiences.</p>
      <a href="/viewers" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Viewers
           <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
      </a>
  </div>
</div>

<!-- Grounds -->
<div class="max-w-sm bg-white mb-5  border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="/grounds">
      <img class="rounded-t-lg h-50 " src="../images/ground2.JPG" alt="" />
  </a>
  <div class="p-5">
      <a href="/grounds">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Grounds Details of PSL</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Ground of Pakistan Super League are usually packed with enthusiastic fans who come to support their favorite teams.</p>
      <a href="/grounds" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Grounds
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
  </div>
</div>
</div>





<!-- Ask question -->
<%- include('askquestion') %>
<!-- footer -->
<%- include ('footer') %>


    
  </body>
</html>
